ACCOUNTS=[
"${STELLAR_CORE_SEED_1}",
"${STELLAR_CORE_SEED_2}",
"${STELLAR_CORE_SEED_3}"
]

[DOCUMENTATION]
ORG_NAME="${STELLAR_CORE_ORG_NAME}"
ORG_DBA="Berkeley Blockchain Xcelerator"
ORG_NAME="Berkeley Blockchain Xcelerator"
ORG_DBA="Berkeley Blockchain Xcelerator"
ORG_URL="https://www.xcelerator.berkeley.edu"
ORG_LOGO="https://scet.berkeley.edu/wp-content/uploads/x-logo-1.png"
ORG_DESCRIPTION="Berkeley Accelerator for Blockchain Startups from around the World"
ORG_PHYSICAL_ADDRESS="California Memorial Stadium, Room 122, 2227 Piedmont Avenue, Berkeley CA 94720,United States"
ORG_PHYSICAL_ADDRESS_ATTESTATION="https://scet.berkeley.edu/wp-content/uploads/Sutardja-Center-directions.pdf"
ORG_PHONE_NUMBER="1 (925)297-9132"
ORG_TWITTER="https://twitter.com/BB_Xcelerator"
ORG_GITHUB="orgcode"
ORG_OFFICIAL_EMAIL="xcelerator@berkeley.edu"


